<nav>
  <ul class="sidebar">
    <li><a href="/listings">All Listings</a></li>
    <li><a href="/listings/new">Add New Listing</a></li>
    <li><a href="/listings/tnc">Terms & Conditions</a></li>
    <% if(currUser){ %>
    <li><a href="/logout">Logout</a></li>
    <% } %>
    <% if(!currUser){ %>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>

<nav>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="hideOnMobile"><a href="/listings">All Listings</a></li>
    <li class="hideOnMobile"><a href="/listings/new">Add New Listing</a></li>
    <li class="hideOnMobile"><a href="/listings/tnc">Terms & Conditions</a></li>
    <% if(currUser){ %>
    <li class="hideOnMobile"><a href="/logout">Logout</a></li>
    <% } %>
    <% if(!currUser){ %>
    <li class="hideOnMobile"><a href="/signup">Signup</a></li>
    <li class="hideOnMobile"><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>