<nav>
    <ul class="sidebar">
        <li onclick=hideSideBar()><i class="fa-solid fa-xmark" style="width: 26px; height:26px;"></i></li>
        <li><a href="/listings">All Listings</a></li>
        <li><a href="/listings/new">Add New Listing</a></li>
        <li><a href="/listings/tnc">Terms & Conditions</a></li>
        <% if(currUser){ %>
        <li><a href="/logout">Logout</a></li>
        <% } %>
        <% if(!currUser){ %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
    <ul>
        <li> <img src="/images/logo.png" alt="logo"></li>
        <li class="hideOnMobile"><a href="/listings">All Listings</a></li>
        <li class="hideOnMobile"><a href="/listings/new">Add New Listing</a></li>
        <li class="hideOnMobile"><a href="/listings/tnc">Terms & Conditions</a></li>
        <% if(currUser){ %>
        <li class="hideOnMobile"><a href="/logout">Logout</a></li>
        <% } %>
        <% if(!currUser){ %>
        <li class="hideOnMobile"><a href="/signup">Signup</a></li>
        <li class="hideOnMobile"><a href="/login">Login</a></li>
        <% } %>
        <li class="menu-button" onclick=showSideBar()><i class="fa-solid fa-bars" style="width: 26px; height:26px;"></i></li>
    </ul>
</nav>

