<nav class="topNav">
  <ul class="sidebar">
    <li onclick=hideSidebar()><i class="fa-solid fa-xmark"></i></li>
    <li><a href="/listings">All Listings</a></li>
    <li><a href="/listings/new">Add New Listing</a></li>
    <li><a href="/listings/tnc">Terms & Conditions</a></li>
    <% if(currUser){ %>
    <li><a href="/logout">Logout</a></li>
    <% } %>
    <% if(!currUser){ %>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
  </ul>
</nav>
<nav>
  <ul>
    <li> <img src="/public/images/logo-removebg-preview.png" alt="housify"></li>
    <li class="hideOnMobile"><a href="/listings">All Listings</a></li>
    <li class="hideOnMobile"><a href="/listings/new">Add New Listing</a></li>
    <li class="hideOnMobile"><a href="/listings/tnc">Terms & Conditions</a></li>
    <% if(currUser){ %>
    <li class="hideOnMobile"><a href="/logout">Logout</a></li>
    <% } %>
    <% if(!currUser){ %>
    <li class="hideOnMobile"><a href="/signup">Signup</a></li>
    <li class="hideOnMobile"><a href="/login">Login</a></li>
    <% } %>
    <li class="displayMenu" onclick=showSidebar()><i class="fa-solid fa-bars"></i></li>
  </ul>
</nav>