*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    /* padding-top: 70px !important; */
    box-sizing : border-box !important;
    font-family: "plus jakarta sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    margin-top: 60px !important;
}
nav{
    display: flex;
    background-color: white;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-evenly;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.cross{
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    color: black;
}
.cross:hover{
    cursor: pointer !important;
    color: black !important;
}
nav li:first-child{
    margin-right: auto !important;
}

nav a:hover{
    background-color: #f0f0f0 !important;
    color: black !important;
}
nav i:hover{
    cursor: pointer !important;
    color: black !important;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
nav ul li img{
    height: 50px;
    width: auto;
}

.logo{
    display: inline-block;
    margin-left: 30px;
    height: 100%;
    width: auto;
    align-items: center;
}


@media(max-width:900px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
        margin-left: auto;
    }
} 

/* .bgimage{
    background-image: url('/images/homepage.jpg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 120px;
} */
.container{
    flex: 1;
    margin-top: 20px !important;
}
/* 
.tagline{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: left;
} */

.listing-card{
  border: none !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.card-img-overlay{
    opacity: 0 !important;
}
.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white;
   
}

.btn{
    background-color: #d2c4fb !important;
    color: black !important;
    border: none !important;
}

.show-img{
    height: 35vh !important;
}

.btns{
    display: flex;
    gap: 1rem;
}
.card-title{
    margin-bottom: 2px !important;
}

.ratingStar{
    color: #fbbf24 !important;
    size: 4px !important;

}
.rmm{
    margin-bottom: 0 !important;
}
.delbtn{
    background: none !important;
    border: none !important;
    color: red !important;
    font-size: 1.2rem !important;
    cursor: pointer !important;
}

.delbtnfrom{
    display: inline !important;
}